main {width: 775px;
  display: flex;
  flex-direction: column;
  margin: 0px 250px;
}

img {
  width: 1275px;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  }

.intro_textA {font-size: 20px;
  position: relative;
  top: 70px;
  margin: 0px;
}

.intro_textB {font-size: 70px;
font-family: 'Abril Fatface', cursive;
  position: relative;
    margin: 0px;

}

.intro_text {
  position: absolute;
  text-align: left;
  height: 100%;
  top: 120px;
  left: 250px;
  }

.afterintro {
  font-size: 20px
  }

h1, .Qtext {
  font-family: 'Abril Fatface', cursive;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 900;
  margin: 20px 0px 0px 0px;
}

h4 {
  font-family: 'Merriweather', serif;
  font-weight: 400;
    margin: 5px 0px 0px 0px;

}

ul {
  font-family: 'Josefin Sans', sans-serif;
  list-style-type: square;
}

p {
  font-family: 'Josefin Sans', sans-serif;
}

.break_line {
  background: black;
  margin: 50px 0px;
  position: relative;
  width: 900px;
  height: 5px;
}

.quote {
  font-family: 'Abril Fatface', cursive;
  font-size: 120px;
  color: white;
  position: absolute;
  top: -30px;
  left: 0px;
  }

.Qbox_small {
  padding: 50px;
  position: relative;
  width: 100%;
  height: 65px;
    left: -50px;
  background: #3f3f3f;
  text-align: center;
}

.Qbox_large {
  padding: 50px;
  position: relative;
  width: 100%;
  height: 130px;
  left: -50px;
  background: #3f3f3f;
  text-align: center;
}

.Qtext {
  width: 100%;
  height: 50px;
  position: relative;
  text-align: left;
  font-size: 50px;
  color: white;
}