div {font-family: 'Rowdies', cursive;
font-size: 120%; margin-bottom: 7px;}

label {display: block}

input {display: block; width:300px;
border: solid lime}

button {border: none; border-radius: 20px;
background: lime;font-family: 'Rowdies', cursive;
font-size: 160%; width:125px; height: 60px;}